<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page</title>
</head>

<body>
    <h1>Welcome to My Profile!</h1>
    <h2>name = <%= user.name %></h2>
    <h3>email = <%= user.email %></h3>
    <h3>contact = <%= user.contact %></h3>

    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li>
                <%= item %>
            </li>
            <% }) %>

    </ul>
</body>

</html>